.point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}
